<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">img</th>
            <th scope="col">rating</th>
            <th scope="col">notes</th>
            <th scope="col"></th>
            <th scope="col">id</th>

        </tr>
    </thead>
    <tbody>
        {{#each galleryDocument}}
        <tr>
            <th scope="row"></th>
            <td><img src={{galleryImage}} style="height: 150px; width: auto;"></td>
            <td><div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">rating</span>
                        </div>
                        <textarea class="form-control" rows="1" id="rating-{{ _id }}" value={{_id}} aria-label="rating" >{{rating}}</textarea>
                    </div>
                </td>
            <td>                <div class="portfolio-meta">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">notes</span>
                        </div>
                        <textarea class="form-control" rows="1" id="notes-{{ _id }}" value={{_id}} aria-label="notes">{{ notes }}</textarea>
                    </div>
                </div></td>
                <td><button class="btn btn-secondary" id="ratingSubmit" value={{ _id }}>submit</button></td>
                <td>{{ _id }}</td>
        </tr>
        {{/each }}
    </tbody>
</table>