<!-- header section start -->
<header class="header-section">
    <div class="container-fluid">
        <div class="row">
            <div>
                <img src="/assets/img/KSRlogo.jpg" class="logo">
            </div>
        </div>
    </div>
</header>
<!-- header section end -->

{{> table}}

<!-- portfolio section start -->
<section class="portfolio-section pt70">
    <div class="container">

    </div>
    <div class="container-fluid p-0">
        <div class="row portfolios-area">
            <div class="col-lg-6">
                <div class="portfolio-intro">
                    {{!-- <h2 class="section-title mb-5">The <span>only</span> small business in <span>LA's top 3</span>
                        stagers &amp; designers
                    </h2> --}}
                    <h2 class="section-title mb-5">The only small business in LA's <span>top 3</span> stagers &amp;
                        designers.
                    </h2>
                    <ul class="portfolio-filter controls">
                        <li class="control" data-filter="all">All</li>
                        <li class="control" data-filter=".hp">Highland Park</li>
                        <li class="control" data-filter=".eagle-rock">Eagle Rock</li>
                        <li class="control" data-filter=".hollywood">Hollywood</li>
                        <li class="control" data-filter=".mulholland">Mulholland</li>
                        <li class="control" data-filter=".mt-washington">Mt Washington</li>
                        <li class="control" data-filter=".sherman-oaks">Sherman Oaks</li>
                        <li class="control" data-filter=".studio-city">Studio City</li>
                        <li class="control" data-filter=".west-hollywood">West Hollywood</li>
                    </ul>

                </div>
            </div>
            {{#each galleryDocument}}
            <div class="mix col-md-6 col-lg-3 {{location}}" id={{_id}}>
                <a href={{galleryImage}} class="portfolio-item pi-style2 set-bg" data-setbg={{galleryImage}}>
                    <div class="pi-inner">
                        <h2>+</h2>
                    </div>
                </a>
                {{!-- <div class="portfolio-meta">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">rating</span>
                        </div>
                        <textarea class="form-control rating" aria-label="rating" >{{rating}}</textarea>
                    </div>
                </div>
                <div class="portfolio-meta">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">notes</span>
                        </div>
                        <textarea class="form-control notes" aria-label="notes">{{ notes }}</textarea>
                    </div>
                </div>
                <button id="ratingSubmit" class="mb-5" value={{ _id }}>submit</button> --}}
            </div>
            {{/each}}
        </div>
    </div>
</section>
<!-- portfolio section end -->
<section>
    {{> galleryFooter }}
</section>